@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: url("gambar/background body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

::selection {
    background: #bdc3c7;
    color: #fff;
}

.wrapper {
    width: 310px;
    background: rgb(115 130 145 / 73%);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(77 101 219 / 77%)
}

.wrapper .title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(32deg, #06364e, #e680fb);
}

.wrapper form {
    padding: 10px 15px 50px 15px;
}

.field {
    width: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.field input {
    height: 50px;
    width: 90%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.wrapper .field input:focus, .field input:valid {
    border-color: #4158d0;
}

.wrapper .field label {
    position: absolute;
    top: 50%;
    left: 32px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.field input:focus~label,.field input:valid~label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input {
    width: 15px;
    height: 15px;
    background: red;
}

.content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

.content .pass-link {
    color: red;
}

.field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(35deg, #d649f3, #06364e);
    transition: all 0.3s ease;
}

.field input[type="submit"]:active {
    
    transform: scale(0.95);
}

.signup-link {
    color: #262626;
    margin-top: 10px;
    text-align: center;
}

.pass-link a,
.signup-link a {
    color: #262626;
    text-decoration: none;
}

.pass-link a:hover,
.signup-link a:hover {
    text-decoration: underline;
}
