@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("gambar/background body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100hv;
    background-color: white;
    position: fixed;
}
* {
    margin: 0;
    padding: 0;
}

.btn-menu {
    display: none;
    padding: 0.5em .7em;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
  }

.deskripsi-btn button {
    background-color: #48aac5;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
}

.headline {
    padding: 25px 0;
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.searchBar input {
	padding: 10px;
	border: none;
	background-color: transparent;
	outline: none;
	width: 210px;
	background-color: #EDEDED;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	font-family: Comfortaa, sans-serif;
	color: #000000;
    
}
.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	
}

#search:focus {
	background-color: #e056fd;
}

.searchBar button {
	background-color: transparent;
	border: none;
	margin-left: -40px;
	padding: 0;
}

.searchBar i {
	color: #2C3333;
	font-size: 20px;
	transition: all 0.3s ease;
}

.searchBar i:hover {
	cursor: pointer;
}
.menuToggle {

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 5000px;
    min-height: 50px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0,5);
}
.spacer{
    padding: 40px 0;
}
.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: crimson;
    font-weight: 400;
    padding-left: 4px
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    /* margin-bottom: 20px; */
}

.navigation {
    list-style-type: none;
    padding: 15px;
}

.navigation > li >a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: crimson;
    transition: all, 0.3s ease-in-out;
}

ul li a{
    margin-right:15px;}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;
}

section img {
    width: 450px;    
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    width: 100% ;
    justify-content: center;
}

.kolom {
    max-width: auto;
    margin: 4px;

}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto';
    color: rgb(255, 255, 255);
}

p.deskripsi {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    width: auto;
    flex-wrap: wrap;
}
 
h2 {
    font-family: 'roboto' ;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    line-height: 50px;
}
a.tbl-biru {
    background: crimson;
    border-radius: 0px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all, 0.3s ease-in-out;
}

a.tbl-biru:hover {
    background: cornflowerblue;
    text-decoration: none;
}

a.tbl-pink {
    background: cornflowerblue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all, 0.3s ease-in-out;
}
.promo{
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.promo img {
    width: 90%;
}

a.tbl-pink:hover {
    background: crimson;
    text-decoration: none;
}

.headline {
    padding-top: 0px;
}
.ps {
    width: 260px;
    box-shadow: 2px 1px 10px #222;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.img-ps{
    max-width: 260px;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;
}
.img{
    width: 100%;
}
.harga {
    height: 10px;
    color: red;
}
.btn-block{
    width: 100%;
    border-radius: 15px;
    background:#222;
    text-align: center;
}
.btn-block:hover{
    width: 100%;
    background-color: tomato;
    color: #222;
}

.btn-beli{
    color: #fff;
    text-decoration: none;
}
.btn-beli:hover{
    color: #222;
}
.content-text{
    margin-top: 10px;
}
.flex {
    display: flex;
    justify-content: space-around;
}


p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color: #fff;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15px;
    background: #222;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}



@media (max-width: 1050px) {

    .navigation{
        display: none;
    }
    .con{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navigation li{
        margin-top: 35px;
    }
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .flex{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
  }
  @media (min-width: 250px) {

    .body{
        display: none;
    }
  }
  @media screen and (max-width: 1050px) {
    .nav-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #000;
      padding: 3em 3em 2em;
    }
  
    .judul {
      font-size: 30px;
    }
  
    .nav-link {
      margin: .5em auto;
    }
  
    .btn-menu {
      display: block;
      z-index: 99;
    }
  
    .show {
      display: flex;
      flex-direction: column;
    }
}

.navigation.show{
    /* display: block; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
}
 .fades {
    animation-name: fade;
    animation-duration: 2s;
    animation-direction: alternate;
 }

 @keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
 }